html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css')
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src='/javascript/leego.js')
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
  body
    // Demo stuff
    main
      div.navbar
        div.navbar-list
          ul.navbar-links
            li.navbar-li Logo
            l1.navbar-li Contact Us
      div.image-main
    // Component starts here
    ul.blocks-names  
      li.blocks__name History
      li.blocks__name Products
      li.blocks__name Videos
      li.blocks__name Enquire
      li.blocks__name Our Presence
    ul.blocks
      li#1.blocks__block
      li#2.blocks__block
      li#3.blocks__block
      li#4.blocks__block
      li#5.blocks__block
    ul.blocks-content
      li.blocks-content__content
        .content__close
        h2 History
        p
          | Brief History of the company
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        h2 Products
        p
          | Product Catalog
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        div.machine-videos
          span#image1
          span#image2
          span#image3
          div.left-arrow
            a(href="#image1")
               img.img-left-arrow(src='/images/left-arrow.svg')
          div.image-container
            div.image-holder
               video.slider-image(src='Videos/video1.mp4' width=700 height=400 controls)
               video.slider-image(src='Videos/video2.mp4' width=700 height=400 controls)
               video.slider-image(src='Videos/video3.mp4' width=700 height=400 controls)
          div.right-arrow
             a(href="#image1")
               img.img-right-arrow(src='/images/right-arrow.svg')
        div.video-description    
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        h2 Enquire
        p
          | A form which will request customers to enter minimum details which will let us contact them.
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        div#mapid
          | Hello
        i.blocks__content-close.fa.fa-close
       
