html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css')
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src='/javascript/leego.js')
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
  body
    // Demo stuff
    main
       p
        a(href='https://twitter.com/ettrics/', target='_blank')
          i.fa.fa-twitter
        img.plate(src='/images/logo.png', alt='')
    // Component starts here
    ul.blocks-names
      li.blocks__name History
      li.blocks__name Products
      li.blocks__name Videos
      li.blocks__name Enquire
      li.blocks__name Our Presence
    ul.blocks
      li#1.blocks__block
      li#2.blocks__block
      li#3.blocks__block
      li#4.blocks__block
      li#5.blocks__block
    ul.blocks-content
      li.blocks-content__content
        .content__close
        h2 History
        p
          | Brief History of the company
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        h2 Products
        p
          | Product Catalog
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        h2 Videos
        p
          | Various machine and the corresponding videos
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        h2 Enquire
        p
          | A form which will request customers to enter minimum details which will let us contact them.
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        div#mapid
          | Hello
        i.blocks__content-close.fa.fa-close
       
