html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src='/javascript/leego.js')
  body
    // Demo stuff
    main
      h1
        a(href='http://ettrics.com/') Leego Packaging
      p
        | We pack the world
      p
        a(href='https://twitter.com/ettrics/', target='_blank')
          i.fa.fa-twitter
      img.plate(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/plate.svg', alt='')
    // Component starts here
    ul.blocks-names
      li.blocks__name History
      li.blocks__name Products
      li.blocks__name Videos
      li.blocks__name Enquire
      li.blocks__name Our Presence
    ul.blocks
      li#1.blocks__block
      li#2.blocks__block
      li#3.blocks__block
      li#4.blocks__block
      li#5.blocks__block
    ul.blocks-content
      li.blocks-content__content
        .content__close
        h2 History
        p
          | Brief History of the company
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        h2 Products
        p
          | Product Catalog
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        h2 Videos
        p
          | Various machine and the corresponding videos
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        h2 Enquire
        p
          | A form which will request customers to enter minimum details which will let us contact them.
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        h2 Our Presence
        p
          | A map showing our presence in the country
        i.blocks__content-close.fa.fa-close
          | close
