html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='/javascript/leego.js')
  body
    // Demo stuff
    main
      h1
        a(href='http://ettrics.com/') Leego Packaging
      p
        | We pack the world
      p
        a(href='https://twitter.com/ettrics/', target='_blank')
          i.fa.fa-twitter
      img.plate(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/plate.svg', alt='')
    // Component starts here
    ul.blocks-names
      li.blocks__name Products
      li.blocks__name Clientele
      li.blocks__name Videos
      li.blocks__name Industry News
      li.blocks__name Contact us
    ul.blocks
      li#1.blocks__block
      li#2.blocks__block
      li#3.blocks__block
      li#4.blocks__block
      li#5.blocks__block
    ul.blocks-content
      li.blocks-content__content
        .content__close
        h2 Eggs
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae modi esse, totam sequi non quae, rerum facilis nesciunt iusto praesentium officiis assumenda dignissimos. Saepe, facere incidunt. Laudantium quisquam asperiores sint.
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        h2 Bacon
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ducimus voluptate velit quae cumque neque minima harum libero eligendi alias laboriosam ad, consequuntur error atque incidunt assumenda sapiente! Architecto, excepturi?
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        h2 Toast
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eligendi quis accusantium recusandae iusto sed, magni iure magnam, architecto quisquam pariatur minus, rem alias. Eum voluptatem maiores quae reiciendis cupiditate.
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        h2 Donuts
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus officiis voluptates et, atque animi quae hic dolorem neque magnam reprehenderit sint dolor omnis modi mollitia labore quidem aspernatur ab architecto.
        i.blocks__content-close.fa.fa-close
      li.blocks-content__content
        h2 Coffee
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus officiis voluptates et, atque animi quae hic dolorem neque magnam reprehenderit sint dolor omnis modi mollitia labore quidem aspernatur ab architecto.
        i.blocks__content-close.fa.fa-close
