* {
  box-sizing: border-box;
}
#mapid {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans';
  font-weight: 400;
  text-align: center;
}
.blocks {
  position: fixed;
  bottom: 0;
  z-index: 1;
  list-style-type: none;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}
.blocks__block {
  will-change: transform;
  position: relative;
  height: 20vh;
  flex: 1;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
.blocks__block:nth-child(1) {
  background: #f4d35d;
  transform-origin: 0% 100%;
}
.blocks__block:nth-child(2) {
  background: #db5b4a;
  transform-origin: 25% 100%;
}
.blocks__block:nth-child(3) {
  background: #e2bb7f;
  transform-origin: 50% 100%;
}
.blocks__block:nth-child(4) {
  background: #f67b7d;
  transform-origin: 75% 100%;
}
.blocks__block:nth-child(5) {
  background: #a1775a;
  transform-origin: 100% 100%;
}
.blocks__block.active {
  z-index: 2;
}
.blocks-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.blocks-content__content {
  will-change: transform, opacity;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  height: 120vh;
  padding: 5vh;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: all 0.3s 0.2s ease-out;
}
.blocks-content__content.active {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
.blocks-content .blocks__content-close {
  position: absolute;
  right: 2vw;
  top: 2vh;
  height: 26px;
  width: 26px;
  background-image: url("/images/closeIcon.png");
  font-size: 30px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.blocks-content .blocks__content-close:hover {
  transform: scale(1.1);
}
.blocks-content p {
  font-size: 16px;
  line-height: 2;
  max-width: 800px;
}
.blocks-content h2 {
  padding: 15px 30px;
  font-weight: 300;
  letter-spacing: 6px;
  box-shadow: inset 0 0 0 3px #000;
}
.blocks-names {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 18px;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all 0.15s ease-out;
}
.blocks-names .blocks__name {
  flex: 1;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Demo */
main {
  position: relative;
  z-index: 1;
  height: 80vh;
  display: block;
  background-image: url("/images/HomePage_leego.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
main .navbar {
  height: 10vh;
  background-color: transparent !important;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
}
main .navbar-list {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
main .navbar-links {
  list-style-type: none;
  display: flex;
  letter-spacing: 4px;
}
main .navbar-li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .image-div {
  width: 600px;
  height: 70vh;
}
main .plate {
  position: absolute;
  top: 0;
  left: 25px;
  width: 550px;
  height: 70vh;
  padding-left: 70px;
}
main .contents-div {
  position: absolute;
  left: 650px;
  top: 0;
  height: 70vh;
  width: -500%;
}
.machine-videos {
  height: 400px;
  width: 900px;
  bottom: 10%;
  top: 15vh;
  left: 30vh;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  background-color: #000;
  overflow: hidden;
}
.image-container {
  height: 400px;
  width: 700px;
  background-color: #000;
  overflow: hidden;
  order: 2;
}
.left-arrow {
  height: 400px;
  width: 100px;
  background-color: #e2bb7f;
  order: 1;
  float: left;
  padding-top: 180px;
  text-align: center;
}
.right-arrow {
  height: 400px;
  width: 100px;
  right: 0;
  background-color: #e2bb7f;
  order: 3;
  float: right;
  padding-top: 180px;
  text-align: center;
}
.image-holder {
  width: 2100px;
  background-color: #e2bb7f;
  height: 400px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
.slider-image {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}
.button-holder {
  position: absolute;
  top: 490px;
}
.slider-change {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #fff;
}
#image1:target ~ .image-holder {
  left: 0px;
}
#image2:target ~ .image-holder {
  left: -700px;
}
#image3:target ~ .image-holder {
  left: -1400px;
}
.video-description {
  font-family: 'Calibri';
  font-weight: 400;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 475px;
  left: 200px;
}
